html,body{
    margin: 0;
    padding: 0;
    min-width:300px;
    max-width: 970px;
}

div{
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 25s !important;
    animation-timing-function: ease !important;
    animation-iteration-count: infinite !important;
}

.container {
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;

    height: 250px;
    width: 100%;
    background: black
;
}
.content{
    position: relative;
}
/*********************       **********************/
/*********************       **********************/

.layer1 {

    background: url("img/layer1back3.jpg") 77% 0% no-repeat;
    animation-name: layer1;

}

div[class^="layer1-frame"]{
    margin-left: 30px;
}
.layer1-frame1 {

    background: url("img/layer1frame1.png") no-repeat;
    width: 155px;
  height: 39px;
    margin-top: 12px;
    animation-name: layer1-frame1;

}
.layer1-frame2 {

    background: url("img/layer1frame2.png")no-repeat;
     width: 156px;
    height: 28px;
    margin-top: 145px;
    animation-name: layer1-frame2;
    margin-left: 35px !important;

}

.layer1-frame3 {

    background: url("img/layer1frame3.png")no-repeat;

    width: 136px;
    height: 39px;

    margin-top: 12px;
    animation-name: layer1-frame3;

}

.layer1-frame4 {

    background: url("img/layer1frame4.png")no-repeat;

    width: 151px;
    height: 35px;
    margin-top: 15px;
    /*margin-left: 15px !important;*/
    animation-name: layer1-frame4;

}
.layer1-frame5 {

    background: url("img/layer1frame5.png")no-repeat;

    height: 22px;
    width: 252px;
    margin-top: 147px;
    animation-name: layer1-frame5;

}


/*********************       **********************/
/*********************       **********************/


/*********************       **********************/
/*********************       **********************/

.layer3{

    background: url("img/layer3back1.jpg")52% -400% no-repeat;
    background-color: black;
    animation-name:layer3;
}
div[class^="layer3-frame"]{
    margin-left: 5%;
}
.layer3-frame1{

    background: url("img/layer3frame1.png");
    width: 116px;
    height: 28px;
    margin-top: 12px;
    animation-name: layer3-frame1;
}
.layer3-frame2{

    background: url("img/layer3frame2.png");
    width: 197px;
    height: 28px;
    margin-top: 160px;
    animation-name: layer3-frame2;
}



/*********************       **********************/
/*********************       **********************/

.layer4{

    background: url("img/layer4back1.jpg")50% no-repeat;
    animation-name: layer4;
}
div[class^="layer4-frame"]{
    margin-left: 5%;
}
.layer4-frame1{

    background: url("img/layer4frame1.png");
    height: 29px;
    width: 110px;
    top:5%;
    animation-name: layer4-frame1;
}

.layer4-frame2{

    background: url("img/layer4frame2.png");
    height: 9px;
    width: 123px;
    top: 73%;
    animation-name: layer4-frame2;
}


/*********************       **********************/
/*********************       **********************/

.layer5 {

    background: url("img/layer5back.jpg")92%;
    animation-name: layer5;
}

.layer5-frame1 {

    background: url("img/layer5frame1.png");
    width: 130px;
    height: 15px;
    left:16px;
    margin-left: 10px !important;
    animation-name: layer5-frame1;
    top: 18px;
}

.layer5-frame2 {

    background: url("img/layer5frame2.png");
    width: 177px;
    height: 37px;
    margin-left: 26px;
    top: 46px;

    animation-name: layer5-frame2;
}

/*********************       **********************/
/*********************       **********************/


.logo {
    background: white;
    height: 45px;
    bottom: 0;
}
.logo-img{
    background: url("img/logo.png");
    width: 72px;
    height: 20px;
    bottom: 27%;
    right: 2%;
}
/**************************************************************/            /*********************/
/**************************************************************/            /*********************/
    @keyframes layer1 {
        0%,1% {
            opacity: 0;
        }

        1%,28% {
            opacity: 1;
        }

        31%,100% {
            opacity: 0;
        }
    }

    @keyframes layer1-frame1 {
        0% {
            opacity: 0;
            left:-100%;
        }

        2%,7% {
            opacity: 1;
            left: 0;
        }

        8%,100% {
            opacity: 0;
        }
    }
    @keyframes layer1-frame2 {
        0%,2% {
            opacity: 0;
            left:-100%;
        }

        4%,14% {
            opacity: 1;
            left: 0;
        }

        15%,100% {
            opacity: 0;
        }
    }

    @keyframes layer1-frame3 {
        0%,8% {
            opacity: 0;
            left:-100%;
        }

        10%,16% {
            opacity: 1;
            left: 0;
        }

        17%,100% {
            opacity: 0;
        }
    }
    @keyframes layer1-frame4 {
        0%,15% {
            opacity: 0;
            left:-100%;
        }

        17%,25% {
            opacity: 1;
            left: 0;
        }

        26%,100% {
            opacity: 0;
        }
    }
    @keyframes layer1-frame5 {
        0%,19% {
            opacity: 0;
            left:-100%;
        }

        21%,26% {
            opacity: 1;
            left: 0;
        }

        27%,100% {
            opacity: 0;
        }
    }

/**************************************************************/            /*********************/
/**************************************************************/            /*********************/

/**************************************************************/            /*********************/
/**************************************************************/            /*********************/
@keyframes layer3 {
    0%,28% {
        top:0;
        opacity: 0;
    }

    32%,47% {
        top:0;
        opacity: 1;
    }

    52%,100% {

        top:-100%;
        opacity: 1;
    }
}
@keyframes layer3-frame1 {
    0%,30% {
        opacity: 0;
        left:-100%
    }

    33%,51% {
        opacity: 1;
        left:0;
    }

    52%,100% {
        opacity: 0;
    }
}
@keyframes layer3-frame2 {
    0%,32% {
        opacity: 0;
        left:-100%;

    }

    35%,51% {
        opacity: 1;
        left:0;
    }

    52%,100% {
        opacity: 0;
    }
}


/**************************************************************/            /*********************/
/**************************************************************/            /*********************/

@keyframes layer4 {
    0%,47% {
        top:100%;
        opacity: 0;
    }

    52%,70% {
        top:0;
        opacity: 1;
    }

    71%,100% {
        top:0;
        opacity: 0;
    }
}

@keyframes layer4-frame1 {
    0%,52% {
        opacity: 0;
        left:-100%;
    }

    53%,70% {
        opacity: 1;
        left:0;
    }

    71%,100% {
        opacity: 0;
    }
}
@keyframes layer4-frame2 {
    0%,53% {
        opacity: 0;
        left:-100%
    }

    55%,70% {
        opacity: 1;
        left:0;
    }

    71%,100% {
        opacity: 0;
    }
}

/**************************************************************/            /*********************/
/**************************************************************/            /*********************/
@keyframes layer5 {
    0%,70% {
        opacity: 0;
    }

    71%,100% {
        opacity: 1;
    }
}

@keyframes layer5-frame1 {
    0%,71% {
        opacity: 0;
        left:-100%
    }

    73%,100% {
        opacity: 1;
        left:16px;
    }

}
@keyframes layer5-frame2 {
    0%,72% {
        opacity: 0;
        left:-100%
    }

    74%,100% {
        opacity: 1;
        left:0;
    }

}
/**********************************************************************************************/